body {
    margin: 1.6em;
    background: url("../img/redis-bg.png");
}

status.ready {
    color: darkgreen;
    font-weight: bold;
}

status.error {
    color: red;
}

duration {
    font-size: 0.8em;
}

div.json {
    width: auto !important;
    height: auto !important;
}

td.nowrap {
    white-space: nowrap;
}

td div.hidden_overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 360px;
    display: inline-block;
}

a.tiny {
    font-size: 0.6em;
}