<h1 style="color: crimson">{{ name }}</h1>
<h2 style="color: coral">{{ title }}</h2>

<div class="input-group">
    <select class="form-control" id="stage" ng-model="stage">
        <option ng-repeat="s in stages" value="{{ s }}">{{ s.toUpperCase() }}</option>
    </select>
    <select class="form-control" id="host" ng-model="host">
        <option ng-repeat="h in hosts" value="{{ h }}">{{ h }}</option>
    </select>
</div>

<hr/>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Enter to select entries or filter keys" id="select"
           ng-model="select"/>
    <input type="button" class="form-control" ng-click="updateEntry()" value="Update"/>
    <span style="color: green" ng-if="lastUpdate.status === 'succeeded'">Updating key {{lastUpdate.key}}
        {{lastUpdate.status}}</span>
    <span style="color: red" ng-if="lastUpdate.status === 'failed'">Updating key {{lastUpdate.key}}
        {{lastUpdate.error}}</span>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <hr/>
        <h3 ng-if="select" class="panel-title">Results for pattern/key '{{select}}'</h3>
        <hr/>
    </div>
    <div ng-jsoneditor class="json" ng-model="obj.data" options="obj.options" ng-if="obj.data"></div>
</div>
<img ng-if="loading" src="img/box.gif"/>
